@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;600;800&display=swap');

* {
    font-family: 'Vazirmatn', sans-serif;
}

.text-body {
    font-size: var(--text-small);
    font-weight: var(--font-regular);
    color: var(--color-text);
}

.text-body-light {
    font-size: var(--text-small);
    font-weight: var(--font-regular);
    color: var(--color-text-light);
}

.text-body-bold {
    font-size: var(--text-small);
    font-weight: var(--font-bold);
}

.text-heading {
    font-size: var(--text-medium);
    font-weight: var(--font-medium);
    color: var(--color-text);
}

.text-title {
    font-size: var(--text-large);
    font-weight: var(--font-bold);
    color: var(--text-color);
}
