/* general utility classes */

$direction_map: (
    '': (
        '',
    ),
    'x': (
        'left',
        'right',
    ),
    'y': (
        'top',
        'bottom',
    ),
    't': (
        'top',
    ),
    'b': (
        'bottom',
    ),
    'l': (
        'left',
    ),
    'r': (
        'right',
    ),
);

$steps: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 20, auto);

@mixin generate-spacing($property, $directions, $spacing) {
    @each $direction in $directions {
        @if ($direction != '') {
            #{$property}#{'-' + $direction}: calc(var(--spacing) * #{$spacing});
        } @else {
            #{$property}: calc(var(--spacing) * #{$spacing});
        }
    }
}

@each $i in $steps {
    @each $short, $directions in $direction_map {
        .p#{$short}-#{$i} {
            @include generate-spacing('padding', $directions, $i);
        }
        .m#{$short}-#{$i} {
            @include generate-spacing('margin', $directions, $i);
        }
    }

    .gap-#{$i} {
        gap: calc(var(--spacing) * #{$i});
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

/* flex utility classes */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.grow-1 {
    flex-grow: 1;
}

/* shadow utility classes */
.shadow-main {
    box-shadow: var(--shadow-main);
}

$positions: ('relative', 'absolute', 'static', 'fixed', 'static');

@each $pos in $positions {
    .pos-#{$pos} {
        position: #{$pos};
    }
}
